<div class="checkout">
    <h1>Checkout</h1>
    <p class="p-message">{{orderMsg}}</p>
    <div class="row">
        <div class="col-sm-7 shipping-address">
         <h3>Add Shipping Address</h3>
         <form #orderData="ngForm" class="common-form" (ngSubmit)="orderNow(orderData.value)">
            <input class="form-input" type="text" placeholder="Enter User Email"
      name="email" ngModel
       #email="ngModel" required email>
       <input class="form-input" type="text" placeholder="Enter User Address"
      name="address" ngModel
      required>
      <input class="form-input" type="text" placeholder="Enter User Contact details"
       name="contact" ngModel required>
       <button class="form-button">Order Now</button>
         </form>
        </div>
        <div class="col-sm-5">
            <h3>Total Amount : {{totalPrice}}</h3>
            <h4>Payment Method : <b>Cash on Delivery</b></h4>
            
        </div>

    </div>

</div>
